<!DOCTYPE html>
<html>
<head>
    <title>Livestock Price Tracker</title>
    <link rel="stylesheet" href="style.css\\">
</head>
<body>
    <h1>Livestock Price Tracker</h1>
    <div class="company-container">
        <div class="company">
            <h2>Company Name</h2>
            <p>Current Price: <span id="current-price"></span></p>
            <p>Yesterday's Price: <span id="yesterday-price"></span></p>
            <p>This Week's High: <span id="week-high"></span></p>
        </div>
        </div>
    <script src="../static/css/js/live_stock.js"></script>
</body>
</html>